<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <section>
        <div>
            <h1>Cadastre-se e preparesse para um novo jeito de cadastrar seus usuários!</h1>
            <form >
                <label>Nome</label>
                <input type="text" name="nome">
                <label>Sobrenome</label>
                <input type="text" name="sobrenome">
                <label>email</label>
                <input type="email" name="email">
                <label>Senha</label>
                <input type="password" name="senha">
                <label>Confirme a senha</label>
                <input type="password" name="confirmacao_senha">
                <br />
                <button onclick="location.href='/cadastrar'">Enviar</button>
            </form>

            <% if(validacao > 0) { %>
                <div class="alert alert-danger">
                    <ul>
                        <% for(var i = 0, len = validacao.length; i < len ; i++) { %>
                            <li><%= validacao[i].msg%></li>
                        <% } %>
                    </ul>
                </div>
            <% } %>
        </div>
    </section>
</body>
   
</html>