<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <section>
        <div>
            <h1>Cadastre-se e preparesse para um novo jeito de cadastrar seus usuários!</h1>
            <form method="post" action="/cadastrar">
                <label>Nome</label>
                <input type="text" name="nome">
                <label>Sobrenome</label>
                <input type="text" name="sobrenome">
                <label>email</label>
                <input type="email" name="email">
                <label>Senha</label>
                <input type="password" name="senha">
                <label>Confirme a senha</label>
                <input type="password" name="confirmacao_senha">
                <br />
                <input type="submit" name="submit" value="Enviar">
            </form>
        </div>
    </section>
</body>

</html>